# Data import and pre-processing steps for modelling data

In [1]:
import pandas as pd
import glob # to scan files from a folder and get it in a list of names with locations
from functools import reduce #to be able to merge the items within a list

#### Factor 1: US transportation equipment quarterly sales till Q1 2020 
Source: Census

Steps: Import data and convert date variable to date time and move it to index
convert input variable to numeric format and make quarterly data monthly by backfilling

In [2]:
    # directly import the variable as is and convert date format before doing smoothening to bring values at monthly level
#     https://www.census.gov/econ/currentdata/dbsearch?program=QFR&startYear=2015&endYear=2020&categories=TRA&dataType=101&geoLevel=US&notAdjusted=1&submit=GET+DATA&releaseScheduleId=
        
F1 =pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\US transportation equipment quarterly sales\\SeriesReport-202008021616.csv', skiprows= 7)
F1['DATE'] = F1.Period.str.replace('-',' ').str.replace('Q1','03 01').str.replace('Q2','06 01').str.replace('Q3','09 01').str.replace('Q4','12 01')
F1['DATE'] =   pd.to_datetime(F1.DATE)
F1['US quarterly transport equipment sales from Census'] = F1['Value']
F1 = F1.drop( columns = ['Period', 'Value'])
F1 = F1.set_index('DATE')

# convert to numeric since all values are objects
F1_ = F1.apply(pd.to_numeric)
#F1.dtypes
F1.head(10)
#F1[F1['Value'].isnull()]
#resampling
F1_ = F1_.resample('MS', convention = 'end').bfill()
F1_.tail(2)
#F1_[F1_['Value'].isnull()]

            US quarterly transport equipment sales from Census
DATE
2020-02-01                                             272938
2020-03-01                                             272938

#### Factor 2 - Factory Utilization rates 

Source: Census

Run the python notebook that contains the import and pre-processing of the factor 2. Details of pre-processing steps for this factor provided in the code for the same

#### Factor 3  - Economic Conditions Index for Sacramento

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [5]:
# https://fred.stlouisfed.org/
F3 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Economic Conditions Index for Sacramento\\SYOAGRIDX.csv')     
F3['DATE'] =   pd.to_datetime(F3.DATE)
F3['Eco_cond_indx_SA_M_Fred'] = F3['SYOAGRIDX']
F3 = F3.drop( columns = ['SYOAGRIDX'])
F3 = F3.set_index('DATE')
F3.tail()
#F3.isna().sum() # checking for missing values

            Eco_cond_indx_SA_M_Fred
DATE
2019-08-01                     2.86
2019-09-01                     2.64
2019-10-01                     2.26
2019-11-01                     2.31
2019-12-01                     2.19

#### Factor 4 - Industrial Production index US Monthly

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [6]:

F4 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Industrial Production index US\\INDPRO.csv')
F4.dtypes
F4['DATE'] =   pd.to_datetime(F4.DATE)
F4 = F4.set_index('DATE')
F4['Ind_prd_indx_US_M_Fred'] = F4['INDPRO']
F4 = F4.drop( columns = ['INDPRO'])
F4.dtypes
F4.tail()
#F4.isna().sum() # checking for missing values

            Ind_prd_indx_US_M_Fred
DATE
2020-02-01                109.3246
2020-03-01                104.4640
2020-04-01                 91.1991
2020-05-01                 92.4534
2020-06-01                 97.4587

#### Factor 5 - Industrial Production index US Monthly

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [7]:
# Factor 5 - Producer Price Index by Industry Railroad Rolling Stock Manufacturing - Monthly
F5 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Producer Price Index by Industry Railroad Rolling Stock Manufacturing\\PCU33653365.csv')
F5.dtypes
F5['DATE'] =   pd.to_datetime(F5.DATE)
F5 = F5.set_index('DATE')
F5['ppi_by_ind_railrd_mfg_M_Fred'] = F5['PCU33653365']
F5 = F5.drop( columns = ['PCU33653365'])
F5.tail()
#F5.isna().sum() # checking for missing values

            ppi_by_ind_railrd_mfg_M_Fred
DATE
2020-02-01                         189.4
2020-03-01                         189.4
2020-04-01                         189.4
2020-05-01                         189.5
2020-06-01                         189.7

#### Factor 6 - Average Weekly Hours of Production Employees: Manufacturing in California

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [8]:
F6 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Average Weekly Hours of Production Employees Manufacturing in California\\SMU06000003000000007SA.csv')
F6['DATE'] =   pd.to_datetime(F6.DATE)
F6 = F6.set_index('DATE')
F6['AWH_prd_emp_mfg_CA_M_Fred'] = F6['SMU06000003000000007SA']
F6 = F6.drop( columns = ['SMU06000003000000007SA'])
F6.dtypes
F6.tail()
#F6.isna().sum() # checking for missing values

            AWH_prd_emp_mfg_CA_M_Fred
DATE
2020-02-01                  41.511061
2020-03-01                  40.180910
2020-04-01                  38.858118
2020-05-01                  38.913382
2020-06-01                  38.860445

#### Factor 7 - Average Hourly Earnings of Production Employees Manufacturing Durable Goods in California

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [9]:

F7 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\Average Hourly Earnings of Production Employees Manufacturing Durable Goods in California\\SMU06000003100000008SA.csv')
F7['DATE'] =   pd.to_datetime(F7.DATE)
F7 = F7.set_index('DATE')
F7['awh_prd_emp_mfg_dur_gds_cal_M_Fred'] = F7['SMU06000003100000008SA']
F7 = F7.drop( columns = ['SMU06000003100000008SA'])

#F['newvar'] = F['oldvar']
#F = F.drop( columns = ['oldvar'])

F7.dtypes
F7.tail()
#F7.isna().sum() # checking for missing values

            awh_prd_emp_mfg_dur_gds_cal_M_Fred
DATE
2020-02-01                           25.709882
2020-03-01                           25.547427
2020-04-01                           25.661888
2020-05-01                           25.855238
2020-06-01                           25.595351

#### Factor 8- Average Weekly Earnings of Production Employees Manufacturing Durable Goods in California

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [10]:
F8 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Average Weekly Earnings of Production Employees Manufacturing Durable Goods in California\\SMU06000003100000030SA.csv')
F8['DATE'] =   pd.to_datetime(F8.DATE)
F8 = F8.set_index('DATE')
F8.head()

F8['Avg_wk_erngs_prd_emp_mfg_dur_gds_M_CA_Fred'] = F8['SMU06000003100000030SA']
F8 = F8.drop( columns = ['SMU06000003100000030SA'])

F8.tail()
#F8.isna().sum() # checking for missing values

            Avg_wk_erngs_prd_emp_mfg_dur_gds_M_CA_Fred
DATE
2020-02-01                                 1074.616292
2020-03-01                                 1025.005488
2020-04-01                                  999.207969
2020-05-01                                 1013.082980
2020-06-01                                 1010.418548

#### Factor 9 - Unemployment Rate in Sacramento County CA

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [11]:

F9 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Unemployment Rate in Sacramento County CA\\CASACR5URN.csv')
F9['DATE'] =   pd.to_datetime(F9.DATE)
F9 = F9.set_index('DATE')

F9['Unemp_rate_sacramento_county_m_Fred'] = F9['CASACR5URN']
F9 = F9.drop( columns = ['CASACR5URN'])
F9.tail()
#F9.isna().sum() # checking for missing values

            Unemp_rate_sacramento_county_m_Fred
DATE
2020-01-01                                  3.9
2020-02-01                                  3.7
2020-03-01                                  4.8
2020-04-01                                 14.5
2020-05-01                                 14.1

#### Factor 10 - Civilian Labor Force in Sacramento County, CA

In [12]:
F10 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Civilian Labor Force in Sacramento County, CA\\CASACR5LFN.csv')
F10['DATE'] =   pd.to_datetime(F10.DATE)
F10 = F10.set_index('DATE')


F10['Civ_lab_force_SA_county_m_Fred'] = F10['CASACR5LFN']
F10 = F10.drop( columns = ['CASACR5LFN'])
F10.tail()
#F10.isna().sum() # checking for missing values

            Civ_lab_force_SA_county_m_Fred
DATE
2020-01-01                          714155
2020-02-01                          714834
2020-03-01                          711060
2020-04-01                          689861
2020-05-01                          695119

#### Factor 11 - Employed Persons in Sacramento County, CA

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [13]:
F11 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Employed Persons in Sacramento County, CA\\LAUCN060670000000005.csv')
F11['DATE'] =   pd.to_datetime(F11.DATE)
F11 = F11.set_index('DATE')

F11['emp_persons_SA_county_m_Fred'] = F11['LAUCN060670000000005']
F11 = F11.drop( columns = ['LAUCN060670000000005'])

F11.tail()
#F11.isna().sum() # checking for missing values

            emp_persons_SA_county_m_Fred
DATE
2020-01-01                        686476
2020-02-01                        688034
2020-03-01                        676781
2020-04-01                        590134
2020-05-01                        596858

#### Factor 12 - All Employees Manufacturing Durable Goods in Sacramento--Roseville--Arden-Arcade, CA (MSA)

Source: Fred

Steps: Download the data including latest available period and convert date to datetime and move it to index

In [14]:
# Factor 12 - All Employees Manufacturing Durable Goods in Sacramento--Roseville--Arden-Arcade, CA (MSA)
F12 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\All Employees Manufacturing Durable Goods in Sacramento--Roseville--Arden-Arcade, CA (MSA)\\SMU06409003100000001.csv')
F12['DATE'] =   pd.to_datetime(F12.DATE)
F12 = F12.set_index('DATE')

F12['All_emp_mfg_dur_gds_SA_MSA_M_Fred'] = F12['SMU06409003100000001']
F12 = F12.drop( columns = ['SMU06409003100000001'])

F12.dtypes
F12.tail()
#F12.isna().sum() # checking for missing values

            All_emp_mfg_dur_gds_SA_MSA_M_Fred
DATE
2020-02-01                               24.3
2020-03-01                               24.0
2020-04-01                               21.6
2020-05-01                               21.6
2020-06-01                               21.5

Factor 14 Total Personal INcome - California from Fred

Source: Fred

Steps: import data and convert date to date time

In [17]:
F14 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Total Personal Income in California\\CAOTOT.csv')
F14['DATE'] =   pd.to_datetime(F14.DATE)
F14 = F14.set_index('DATE')
F14.head()

F14['Tot_personal_income_M_CA_Fred'] = F14['CAOTOT']
F14 = F14.drop( columns = ['CAOTOT'])

F14.tail()
#F8.isna().sum() # checking for missing values

            Tot_personal_income_M_CA_Fred
DATE
2019-01-01                      2596657.5
2019-04-01                      2638750.8
2019-07-01                      2639109.4
2019-10-01                      2686709.4
2020-01-01                      2701899.5

F 15 - Unemployment Rate in Sacramento--Roseville--Arden-Arcade, CA (MSA) (SACR906URN)

F15 - Per Capita Personal Income in Sacramento--Roseville--Arden-Arcade, CA (MSA) (SACR906PCPI)

dATA ONLY AVAILABLE TILL 2017 SO  DROPPING FROM USE

F16 - Mean Real Wages Adjusted by Cost of Living for Sacramento County, CA (MWACL06067)

dATA ONLY AVAILABLE TILL 2017 SO  DROPPING FROM USE

# F 17 Unemployment rate in Sacramento MSA

Factor 14 Total Personal INcome - California from Fred

Source: Fred

Steps: import data and convert date to date time

In [18]:

F17 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Unemployment Rate in Sacramento MSA\\SACR906URN.csv')
F17['DATE'] =   pd.to_datetime(F17.DATE)
F17 = F17.set_index('DATE')
F17.head()

F17['Unemp_M_SA_MSA_Fred'] = F17['SACR906URN']
F17 = F17.drop( columns = ['SACR906URN'])

F17.tail()
#F8.isna().sum() # checking for missing values

            Unemp_M_SA_MSA_Fred
DATE
2020-02-01                  3.8
2020-03-01                  4.8
2020-04-01                 14.0
2020-05-01                 13.7
2020-06-01                 12.8

# Factor 18 UNemployment rate in California

Source: Fred

Steps: import data and convert date to date time

In [19]:
#
F18 = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Unemployment Rate in California\\CAUR.csv')
F18['DATE'] =   pd.to_datetime(F18.DATE)
F18 = F18.set_index('DATE')
F18.head()

F18['Unemp_M_CA_Fred'] = F18['CAUR']
F18 = F18.drop( columns = ['CAUR'])

F18.tail()
#F8.isna().sum() # checking for missing values

            Unemp_M_CA_Fred
DATE
2020-03-01              5.5
2020-04-01             16.4
2020-05-01             16.4
2020-06-01             14.9
2020-07-01             13.3

# F19 Housing vacancy and home owndership

Source: Fred

Steps: import data and convert date to date time

In [20]:
# F19  Housing vacancy and home owndership

    # directly import the variable as is and convert date format before doing smoothening to bring values at monthly level
F19 =pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Housing vacancy and home owndership\\SeriesReport-202008240829.csv', skiprows= 7)
F19['DATE'] = F19.Period.str.replace('-',' ').str.replace('Q1','03 01').str.replace('Q2','06 01').str.replace('Q3','09 01').str.replace('Q4','12 01')
F19['DATE'] =   pd.to_datetime(F19.DATE)
F19['Rental_Vacancy_Rate_Qtrly_Census'] = F19['Value']
F19 = F19.drop( columns = ['Period', 'Value'])
F19 = F19.set_index('DATE')

# convert to numeric since all values are objects
F19_ = F19.apply(pd.to_numeric)
F19.head(10)

#resampling
F19_ = F19_.resample('MS', convention = 'end').bfill()
F19_.tail(10)
#F19_.dtypes

            Rental_Vacancy_Rate_Qtrly_Census
DATE
2019-09-01                               6.8
2019-10-01                               6.4
2019-11-01                               6.4
2019-12-01                               6.4
2020-01-01                               6.6
2020-02-01                               6.6
2020-03-01                               6.6
2020-04-01                               5.7
2020-05-01                               5.7
2020-06-01                               5.7

# Internal Wages -  Min and Max

Source: Internal

Steps: import data and convert date to date time

In [21]:
# Internal Data download - dont download trend only download wage min and max 

F1_internal = pd.read_csv('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Internal Data\\Labor demand trend line.csv', skiprows = 3)
F1_internal[['wage_min','wage_max']] = F1_internal['Labor Wages'].str.split("-",expand=True,)
F1_internal['wage_min'] = F1_internal.wage_min.str.replace('$','')
F1_internal['wage_max'] = F1_internal.wage_max.str.replace('$','')
F1_internal.dtypes
F1_internal.head()
F1_internal['DATE'] = pd.to_datetime((F1_internal.Period*10000+F1_internal.Month*100+1).apply(str),format='%Y%m%d')

F1_internal = F1_internal.drop( columns = [ 'Labor Wages', 'Period', 'Month value', 'Month', 'Labor Demand' ])
F1_internal = F1_internal.set_index('DATE')

F1_internal.head(4)

# convert to numeric since all values are objects
F1_internal = F1_internal.apply(pd.to_numeric)
F1_internal.tail()

            wage_min  wage_max
DATE
2019-05-01      18.7     21.67
2019-06-01      18.7     21.51
2019-07-01      18.7     21.51
2019-08-01      18.7     22.67
2019-09-01      18.7     22.67

In [22]:
# Fill  missing values with a backfill
F1_internal = F1_internal.fillna(method='bfill')
F1_internal.tail()

            wage_min  wage_max
DATE
2019-05-01      18.7     21.67
2019-06-01      18.7     21.51
2019-07-01      18.7     21.51
2019-08-01      18.7     22.67
2019-09-01      18.7     22.67

# Internal Factor: Earnings, sales, revenues, profit, severance

Individual import steps are explained in the below notebook

In [23]:
%run 1.3.Internal_Earnings_V2.ipynb

C:\Users\z0047cfr\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\z0047cfr\Anaconda3\lib\site-packages\pandas\core\indexing.py:1047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

# Internal Factor - Temporary to permanent labor conversion count every month

Individual import steps are explained in the below notebook

In [24]:
%run 1.4.Temp_Labor_Conversion.ipynb

# Dependent Variable: Welder count per month

Data for welder count is available for Fiscal year. Since we are modelling on calendar year, it is important to convert the data to reflect the same. detailed steps are in the 1.1.Import_dependent_var.ipynb notebook

In [25]:
trend = pd.read_pickle('C:\\Users\\z0047cfr\\Project Work\\Factory Demand Model\\Input Data\\Labor_Demand.pkl')
trend.head()

Month
2014-10-01    23.0
2014-11-01    21.0
2014-12-01    19.0
2015-01-01    13.0
2015-02-01    11.0
Name: data, dtype: float64

# Merging all the indivudual datasets to create a Master modelling dataset

In [26]:
#Merging all datasets - compile the list of dataframes you want to merge
data_frames = [trend, F1_, F2__, F3, F4, F5, F6, F7, F8, F9, F10, F11, F12, F13_1, F14, F17, F18, F19_, F1_internal, F2_internal, conv]
input_df = reduce(lambda  left,right: pd.merge(left,right,  left_index = True, right_index = True,
                                            how='outer'), data_frames)

input_df.shape
input_df.head(1)
input_df2 = input_df['2014-06-01':'2020-06-01'] # enter the  period for which independent variables will be considered

input_df2.isna().sum().sum()# checking for missing values - the remaining missing values are because data is not availble for that period
input_df2.tail()

,data,US quarterly transport equipment sales from Census,FU_Avg_Plant_hpw_all_mfg_Q_Census,FU_Avg_Plant_hpw_metal_mfg_Q_Census,FU_Avg_Plant_hpw_fab_metal_mfg_Q_Census,FU_Avg_Plant_hpw_Metalwrk_mach_mfg_Q_Census,FU_Avg_Plant_hpw_railroad_roll_stk_mfg_Q_Census,EU_Avg_Plant_hpw_all_mfg_Q_Census,EU_Avg_Plant_hpw_metal_mfg_Q_Census,EU_Avg_Plant_hpw_fab_metal_mfg_Q_Census,...,Rental_Vacancy_Rate_Qtrly_Census,wage_min,wage_max,Orders_millions_Q,Revenue_millions_Q,Profit_Q,Severance_Amount_millions_Q,Profit_margin_perc_Q,Profit_post_severance_perc_Q,Labor_conv_count_M
2020-02-01,96.0,272938.0,71.6,75.3,66.1,72.8,55.7,56.0,72.7,48.8,...,6.6,NaN,NaN,2384.0,2263.0,210.0,4.0,9.3,9.5,15.0
2020-03-01,99.0,272938.0,71.6,75.3,66.1,72.8,55.7,56.0,72.7,48.8,...,6.6,NaN,NaN,2384.0,2263.0,210.0,4.0,9.3,9.5,6.0
2020-04-01,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7,NaN,NaN,3040.0,2162.0,153.0,5.0,7.1,7.3,1.0
2020-05-01,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7,NaN,NaN,3040.0,2162.0,153.0,5.0,7.1,7.3,0.0
2020-06-01,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7,NaN,NaN,3040.0,2162.0,153.0,5.0,7.1,7.3,0.0

In [27]:
input_df2.to_pickle('input_df4.pkl')  # save a python data frame 
#Then you can load it back using:

#input_df2 = pd.read_pickle(input_df2)

In [28]:
input_df2.to_csv('input_df4.csv') # Use Tab to seperate data